@import 'bootstrap'

// https://kuler.adobe.com/Copy-of-Flat-colors-color-theme-3150736/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20Copy%20of%20Flat%20colors&mode=rgb&rgbvalues=0.043137254901960784,0.17254901960784313,0.23529411764705882,1,0.4,0.4,0.8549019607843137,0.8745098039215686,0.8823529411764706,1,1,1,0.26666666666666666,0.26666666666666666,0.26666666666666666&swatchOrder=0,1,2,3,4

body
  padding-top: 70px
  background: #DADFE1
  font-family: 'Lato', sans-serif !important
  color: #444444

.navbar
  background: #FFFFFF
