*
  box-sizing: border-box

body
  position: relative
  background: #e2eaed
  padding: 0 200px 0 180px
  font-family: 'Merriweather', serif

  &.about-open
    overflow: hidden

ul
  list-style: none
  padding: 0

.clearfix
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both

.logo
  position: fixed
  background: #4c5e64 url(../images/logo.png) no-repeat center center
  background-size: 30px 28px
  height: 70px
  width: 70px
  border-radius: 50%
  top: 55px
  left: 55px

table
  &.image
    margin-left: auto
    margin-right: auto

img
  &.centered
    margin-left: auto
    margin-right: auto
    display: block

.about
  position: fixed
  background-color: #3e9ac7
  width: 200px
  height: 100%
  top: 0
  right: 0


  .about-inner
    background: #3e9ac7 url(../images/don-sidebar.png) no-repeat center bottom
    background-blend-mode: soft-light
    background-size: cover
    background-position: right 24px bottom -150px
    width: 100%
    height: 100%
    overflow: hidden
    position: relative

    a.about-link
      position: absolute
      text-decoration: none

      h1
        font-size: 16px
        font-family: 'Exo 2', sans-serif
        color: rgba( 255, 255, 255, .45 )
        font-weight: bold
        text-transform: uppercase
        margin-top: 10px
        padding-left: 80px
        padding-top: 30px

        &:before
          content: ""
          background: url(../images/left-arrow-white.png) no-repeat center bottom
          opacity: .4
          height: 37px
          width: 37px
          display: block
          background-size: 37px 37px
          position: absolute
          left: 25px
          top: 50%

.about-overlay
  position: fixed
  background-color: rgba(0, 0, 0, 0)
  width: 100%
  height: 100%
  top: 0
  right: 0
  transition: all .3s .5s linear
  z-index: -1

  &.open
    background-color: rgba(0, 0, 0, .8)
    transition: all .3s linear
    z-index: 10

    .about-inner
      right: 0px

  .about-inner
    background-color: #e2eaed
    position: absolute
    width: 700px
    height: 100%
    right: -700px
    transition: all .3s .2s linear

    p
      font-size: 16px
      font-family: "Myriad Pro"
      color: rgb( 76, 94, 100 )

  .about-content
    padding-left: 340px
    position: relative
    height: 100%

    img.colored-don
      position: absolute
      left: 30px
      bottom: -90px

    .about-close
      position: absolute
      left: 30px
      top: 30px
      font-size: 17px
      font-family: 'Exo 2', sans-serif
      color: #929fa4
      font-weight: bold
      text-transform: uppercase
      cursor: pointer

      &:hover
        .about-close-inner:after
          transform: rotate(315deg)
          -webkit-transform: rotate(315deg)

        .about-close-inner:before
          transform: rotate(-315deg)
          -webkit-transform: rotate(-315deg)

      .about-close-inner
        position: relative
        height: 40px
        width: 40px
        border-radius: 50%
        border: 3px solid #929fa4
        display: inline-block
        vertical-align: middle
        margin-right: 10px

        &:after, &:before
          content: ""
          width: 20px
          height: 3px
          display: block
          background-color: #929fa4
          position: absolute
          left: 7px
          top: 15px
          transition: all .3s linear

        &:after
          transform: rotate(45deg)
          -webkit-transform: rotate(45deg)

        &:before
          transform: rotate(-45deg)
          -webkit-transform: rotate(-45deg)

    .about-text
      padding: 30px 50px 0 0px
      overflow-y: scroll
      height: 100%
      font-size: 16px
      font-family: "Myriad Pro"
      color: rgb(76, 94, 100)
      line-height: 1.563

      .about-social-icons
        padding-bottom: 15px

        a
          margin-right: 10px
          color: #66777e

      h3
        font-size: 16px
        font-family: "Exo 2"
        color: rgb(146, 159, 164)
        font-weight: bold
        text-transform: uppercase

      ul
        &.cv-so-far, &.facts
          list-style-type: disc
          list-style-position: inside

        &.recent-projects
          li a
            font-size: 16px
            font-family: "Myriad Pro"
            color: rgb(31, 168, 226)
            line-height: 1.5
            text-decoration: none

.navbar
  background: #FFFFFF

.main-content
  &.archive
    h1
      font-size: 17px
      font-family: 'Exo 2', sans-serif
      color: rgb( 157, 169, 174 )
      font-weight: bold
      text-transform: uppercase
      margin-top: 54px

    ul
      border-top: 1px dotted #929fa4

      li a
        text-decoration: none
        display: block
        border-bottom: 1px dotted #929fa4
        font-size: 28px
        color: rgb( 76, 94, 100 )
        font-weight: bold
        padding: 30px 0
        position: relative

        &:after
          content: ""
          background: url(../images/right-arrow.png) no-repeat center bottom
          height: 37px
          width: 37px
          display: block
          background-size: 37px 37px
          position: absolute
          right: -125px
          top: 50%
          margin-top: -18px
          transition: all 500ms cubic-bezier(0.770, -0.475, 0.370, 1.180)

        &:hover
          color: #1fa8e3

          &:after
            right: 25px

  &.post

    a.view-archive
      text-decoration: none
      position: relative

      h1
        font-size: 16px
        padding-left: 36px
        padding-bottom: 18px
        font-family: 'Exo 2', sans-serif
        color: rgb( 157, 169, 174 )
        font-weight: bold
        text-transform: uppercase
        margin-top: 54px

        &:before
          content: ""
          background: url(../images/articles-icon.png) no-repeat center bottom
          height: 14px
          width: 24px
          display: block
          background-size: 24px 14px
          position: absolute
          left: 0px
          top: 4px

    .post-header
      width: 100%
      border-top: 1px dotted #929fa4
      border-bottom: 1px dotted #929fa4
      padding-right: 30px

      h1.post-title
        font-size: 28px
        color: rgb( 76, 94, 100 )
        font-weight: bold
        margin: 20px 0 10px 0
        max-width: 700px

      h2.post-subtitle
        padding-bottom: 15px
        font-size: 14px
        font-family: "Exo 2"
        color: rgb( 146, 159, 164 )
        font-weight: bold
        text-transform: uppercase

    .post-content
      font-size: 17px
      color: rgb( 76, 94, 100 )
      margin-top: 28px
      max-width: 700px
      padding-right: 30px

      p
        line-height: 1.6

      ul
        list-style-type: disc
        list-style-position: inside

    .post-footer
      width: 100%
      position: relative

      &:after
        content: ""
        border-left: 1px dotted #929fa4
        height: 100%
        width: 1px
        position: absolute
        top: 0
        left: 50%
        display: block

      p
        font-size: 12px
        font-family: "Exo 2"
        color: rgb( 146, 159, 164 )
        font-weight: bold
        text-transform: uppercase
        padding-bottom: 10px
        border-bottom: 1px dotted #929fa4

      a
        font-size: 16px
        color: rgb( 109, 119, 123 )
        font-weight: bold
        text-decoration: none

        &:hover
          color: #1fa8e3


      .previous-post
        width: 50%
        float: left
        margin-bottom: 50px

      .next-post
        width: 50%
        float: right
        text-align: right
        margin-bottom: 50px

        a
          padding-left: 56px
          position: relative
