= stylesheet_link_tag "//fonts.googleapis.com/css?family=Exo+2:600|Merriweather:400,700,400italic,700italic"
= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"
link rel="alternate" type="application/rss+xml"  title="RSS Feed for donpottinger.net" href="/feed.xml"
= stylesheet_link_tag "//fonts.googleapis.com/css?family=Exo+2:600|Merriweather:400,700"
= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
= stylesheet_link_tag "//cdn-images.mailchimp.com/embedcode/classic-081711.css"
= stylesheet_link_tag "normalize", "all", "rouge"
= javascript_include_tag "//code.jquery.com/jquery-1.10.2.min.js"
= javascript_include_tag "all"

css:
    /!* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    | We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
